{% extends 'base.html.twig' %}

{% block title %}Hello PersonController!{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Formulaire de nouvelle Personne</h1>

        {% if birthdayError %}
            <p>Il n'est pas possible d'avoir plus de 150 ans.</p>
        {% endif %}


        {{ form(form) }}

        <a href="{{ path('test-person')  }}?list">Visualiser</a>

        {% if isList %}
            <ul class="#liste-personnes">
                {% if persons %}
                    {% for person in persons|sort((a, b) => a.name <=> b.name) %}
                        <li>
                            <p>{{ person.firstname }} {{ person.name }}</p>
                            <p>{{ person.getAge() }} ans</p>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}
    </div>

{% endblock %}


